@media screen and (max-width:1237px) {
    html {
        font-size: 60%;
    }
}

@media screen and (max-width:1101px) {
    html {
        font-size: 56%;
    }
}

@media screen and (max-width:1024px) {
    html {
        font-size: 60%;
    }

    .top-navbar-container {
        width: 100%;
        margin-left: .5rem;
    }

    .left-top-nav {
        width: 12%;
        display: flex;
        align-items: center;
        gap: .5rem;
        /* border: 1px solid red; */
    }

    .left-top-nav a {
        width: 50%;
        /* border: 1px solid blue; */
    }

    .left-top-nav a:nth-child(1) {
        display: contents;
    }

    .left-top-nav a:nth-child(2) {
        display: none;
    }

    .left-top-nav a:nth-child(3) {
        display: contents;
        /* width: 50%; */
    }

    .left-top-nav a:nth-child(3) img {
        width: 80%;
    }

    .top-menu-wrapper {
        width: 15%;
    }

    .menu-img {
        width: 47%;
    }

    .menu:nth-child(2) {
        display: none;
    }

    .menu-title {
        display: none;
    }

    .search-img {
        width: 2.5%;
        /* border: 1px solid violet; */
    }

    .hidden-nav-search-group {
        display: contents;
        margin: auto;
        width: 97%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        padding: 1.2rem;
        border-radius: .7rem;
    }

    .hidden-nav-search-group input {
        width: 83%;
        outline: none;
        border: none;
        font-size: 1.6rem;
    }

    .hidden-nav-search-group input::placeholder {
        color: lightgray;
    }

    .nav-search-group {
        display: none;
    }

    .nav-categories {
        display: none;
    }

    .top-navbar {
        padding-bottom: 1rem;
    }

    .nav-services {
        margin-top: 11.1rem;
    }

    .nav-subcategory {
        width: 100%;
        border-top: 1px solid lightgray;
        position: sticky;
        top: 11rem;
        background-color: white;
        box-shadow: 0 .4rem .8rem 0 rgba(131, 39, 41, 0.2), 0 .6rem 2rem 0 rgba(131, 39, 41, .19);
        padding: .8rem;
        z-index: 4;
        /* border: 1px solid orangered; */
    }

    .nav-sc-container {
        width: 90%;
    }

    .sbc-content-right {
        display: none;
    }

    .sbc-content-left {
        width: 90%;
        margin: auto;
    }

    .sc-content-wrapper {
        width: 90%;
        margin: auto;
        flex-direction: column;
    }

    .sc-content-wrapper a {
        width: 90%;
        margin: auto;
        margin-bottom: 2.5rem;

    }

    .ts-content-wrapper {
        width: 96%;
    }

    .nfy-content-wrapper {
        width: 85%;
        justify-content: space-between;
        flex-direction: column;
    }

    .nfy-content-wrapper a {
        width: 90%;
        margin: auto;
        margin-bottom: 2.5rem;
    }

    .rivah-img:nth-child(2) .explorer-btn:nth-child(2) {
        top: 85%;
        left: 30%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        padding: 1rem 1rem;
    }

    .rivah-img:nth-child(2) .explorer-btn:nth-child(3) {
        top: 85%;
        left: 70%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        padding: 1rem 1rem;
    }

    .single-product-container {
        margin-top: 13rem;
    }
}

@media screen and (max-width:991px) {
    html {
        font-size: 60%;
    }

    /* .container-title{
        font-size: 4rem;
    }
    .container-subtitle{
        font-size: 1.9rem;
    } */
    .sbg-content-wrapper {
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    .sbg-content-wrapper a {
        width: 90%;
        margin: auto;
        margin-bottom: 2.5rem;
    }

    .sbg-img-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .sbg-img-wrapper a {

        width: 46%;
    }

    .rivah-banner {
        width: 70%;
        flex-direction: column;

    }

    .rivah-img {
        width: 100%;
        margin: auto;
    }

    .contact-section {
        display: none;
    }

    .jg-content-wrapper {
        width: 90%;
        flex-direction: column;
    }

    .jg-img {
        width: 100%;
        margin-bottom: 2.5rem;
    }

    .jg-content-wrapper .jg-title {
        font-size: 4rem;
    }

    .contact-section {
        display: none;
    }

    .jg-content-wrapper {
        width: 70%;
        margin: auto;
        display: flex;
        flex-direction: column;
    }

    .jg-img {
        width: 100%;
        border: 1px solid #832729;
        border-radius: 1rem;
        position: relative;
    }

    .footer-top {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .information {
        width: 50%;
    }

    .useful-links {
        width: 50%;
    }

    .contct-us {
        width: 50%;
    }

    .social-links {
        width: 50%;
    }
}

@media screen and (max-width:920px) {
    html {
        font-size: 60%;
    }

}

@media screen and (max-width:884px) {
    html {
        font-size: 58%;
    }
}

@media screen and (max-width:856px) {
    html {
        font-size: 58%;
    }
    .product-desc-wrapper{
        width: 93%;
    }
}
@media screen and (max-width:820px) {
    html {
        font-size: 58%;
    }
    .ts-content-wrapper a {
        width: 30%;
        border: 1px solid lightgray;
    }
    .ts-content-wrapper a:nth-child(4) {
        display: none;
    }



}
@media screen and (max-width:806px) {
    html {
        font-size: 57%;
    }
    .product-desc-wrapper{
        width: 96%;
    }
}
@media screen and (max-width:793px) {
    html {
        font-size: 57%;
    }
}

@media screen and (max-width:768px) {
    html {
        font-size: 55%;
    }

    .footer-top {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .useful-links {
        width: 100%;
    }

    .f-l-item {
        display: none;
    }

    .information {
        width: 100%;
    }

    .contct-us {
        width: 100%;
    }

    .footer-title {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;
        border-bottom: 1px solid gray;
    }

    .footer-title a {
        display: contents;
        color: #832729;
        font-size: 3rem;
        cursor: pointer;
    }

    .nav-subcategory {
        display: none;
    }

    .nav-services {
        margin-top: 13rem;
    }

    .social-links {
        width: 70%;
        text-align: center;
        margin: 4rem auto 3rem auto;
    }

    .sl-img-wrapper {
        width: 70%;
        margin: auto;
    }

    .social-account {
        display: flex;
        flex-direction: column;

    }

    .sa-img-wrapper {
        margin-top: 2rem;
    }

    .footer-last-left-div {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-last-div {
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column-reverse;
    }

    .footer-last-right-div {
        width: 100%;
        text-align: center;
        margin-bottom: 2rem;
    }

    .footer-last-right-div>p {
        font-size: 2.5rem;
        letter-spacing: .02rem;
        color: #832729;
        line-height: 4rem;
    }

    .footer-payment-image {
        width: 30%;
    }

    .sbc-conent-wrapper {
        width: 93%
    }

    .sbc-content-left {
        width: 100%;
    }

    .product-desc-wrapper {
        flex-direction: column;
    }

    .product-desc-left .path {
        display: none;
    }

    .product-left-innerleft {
        display: none;
    }

    .single-product-container {
        margin-top: 13rem;
    }

    .product-left-img-wrapper {
        flex-direction: column;
    }

    .img-move-icon {
        display: none;
    }

    .product-left-innerright {
        width: 100%;
    }

    .product-desc-left {
        width: 90%;
        margin: 1rem auto;
    }

    .product-desc-right {
        width: 90%;
        margin: 1rem auto;
        flex-direction: column;
    }

    .qty-wrapper {
        width: 100%;
        /* border: 1px solid salmon; */
        margin-top: 4.5rem;
    }

    .qty-content div:nth-child(3) {
        display: none;
    }

    .bg-gray {
        background-color: #fff;
        color: black;
    }

    .qty-content {
        border: 1px solid black;
        padding: 1rem;
    }

    .p-related-text {
        font-size: 1.5rem;
    }

    .sp-buttons {
        display: none;
    }

    .product-desc-right-innerleft {
        width: 100%;
        margin: auto;
    }

    .address-section {
        flex-direction: column;
    }

    .select-country {
        width: 100%;
        padding: 1.4rem;
        margin-bottom: 2rem;
    }

    .select-country select {
        width: 100%;
    }

    .pincode-check {
        width: 100%;
        padding: .8rem;
    }

    .product-desc-right-innerright {
        display: none;
    }

    .product-guide {
        display: none;
    }

    .product-details-section {
        flex-direction: column;
    }

    .product-details {
        width: 80%;
        margin: auto;
    }

    .p-d-feature-name {
        font-size: 1.6rem;
    }

    .p-d-feature {
        font-size: 1.4rem;
    }

    .product-detail-img {
        width: 100%;
    }

    .review-inDetail-content {
        width: 100%;
        margin: 1rem auto;
        /* border: 1px solid black; */
        text-align: left;
    }

    .review-inDetail {
        width: 70%;
        /* border: 1px solid black; */
    }

    .product-story {
        width: 70%;
    }

    .more-info {
        width: 70%;
    }

    .p-buying-guides {
        width: 70%;
    }

    .p-r-btn {
        width: 49%;
    }

    .cart-wrapper {
        flex-direction: column-reverse;
    }

    .cart-left {
        width: 100%;
    }

    .cart-right {
        width: 100%;
    }

    .register-container {
        width: 70%;
        flex-direction: column;
    }

    .left-register-content {
        width: 100%;
        margin: 1rem auto 0 auto;
    }

    .right-register-content {
        width: 100%;
        margin: 1rem auto 0 auto;

    }

    .total-price-section {
        display: none;
    }

    .checkout-section {
        width: 100%;
        /* border: 1px solid salmon; */
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .function-btn-wrapper{
        display: none;
    }


}

@media screen and (max-width:767px) {
    html {
        font-size: 55%;
    }

    .products-container {
        width: 90%;
        margin: 2rem auto;
        /* border: 1px solid purple; */
    }

    .products-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        /* gap: 1.5rem; */
        flex-wrap: wrap;
        margin-top: 5rem;
        /* border: 1px solid palevioletred; */
    }

    .products-wrapper a {
        width: 48%;
        border: 1px solid lightgray;
        margin-bottom: 4rem;
        /* border: 1px solid black; */
    }

    /* .product-info .p-path, .explorer-btn{
        display: none;
    } */
    .product-info .p-price {
        font-weight: 800;
    }
}

@media screen and (max-width:721px) {
    html {
        font-size: 55%;
    }
}

@media screen and (max-width:711px) {
    html {
        font-size:55%;
    }
}

@media screen and (max-width:680px) {
    html {
        font-size: 55%;
    }
    .nav-services{
        display: none;
    }
    .products-container{
        margin-top: 14rem;
    }
}

@media screen and (max-width:649px) {
    html {
        font-size: 55%;
    }
}

@media screen and (max-width:639px) {
    html {
        font-size: 55%;
    }
    .ts-content-wrapper a {
        width: 48%;
        border: 1px solid lightgray;
    }
    .ts-content-wrapper a:nth-child(3) {
        display: none;
    }
}

@media screen and (max-width:612px) {
    html {
        font-size: 55%;
    }
}